.nav {
  grid-area: N;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #6c0503;
}
.nav-block {
  width: 50%;
}
#home-link {
  height: 18vh;
  margin-left: 20%;
}
.link {
  text-decoration: none;
  color: black;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10%;
}
