.sign-up-div {
  background-image: url("https://i.imgur.com/6xORJkd.jpg?1");
  grid-area: C;
  height: 90vh;
  /* height: 100%; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  object-fit: contain;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sign-up-su {
  text-decoration: none;
  color: #e7ddd2;
  font-family: "Italianno", cursive;
  font-size: 14vh;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.stocking-box {
  background-image: url("https://i.imgur.com/ENxYW4v.png");
  height: 93vh;
  width: 41vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: opacity(80%);
}

.sign-up {
  margin-top: -14vh;
  margin-right: 3vw;
}

.sign-up-input {
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  margin-right: 2vw;
}

.edit-form #last-name-su {
  margin-top: 3vh;
}

#username-su {
  margin-top: 3vh;
}

#email-su {
  margin-top: 3vh;
}

#password-su {
  margin-top: 3vh;
}

#image-su {
  margin-top: 3vh;
}

#welcome-su {
  margin-top: 3vh;
  margin-left: 3vw;
}
