.about-us {
  background-image: url("https://i.imgur.com/gdJhMSP.jpg?1");
  grid-area: C;
  height: 90vh;
  /* height: 100%; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  object-fit: contain;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us-paragraph {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  margin-right: 20%;
  margin-left: 20%;
}

#about-us-hone {
  font-size: 100px;
}
