.group {
  background-image: url("https://i.imgur.com/hM49cHB.jpg?1");
  grid-area: C;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  object-fit: contain;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#group-name {
  font-size: 15vh;
}

.add-and-remove {
}

#add-member-button {
  background-color: #e7ddd2;
  border-radius: 5px;
  border: none;
  height: 5vh;
  width: 4vw;
}

.group-div {
}

.listing-user-div {
  border: 2px solid #d3d3d3;
  background-color: #fafafa;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  align-content: space-around;
  margin: 15px;
  width: 14rem;
  border-radius: 5px;
}
