.gift-detail {
  background-image: url("https://i.imgur.com/BvFSnOt.jpg?1");
  height: 70vh;
}

.gdpg-name {
  text-decoration: none;
  color: #e7ddd2;
  font-family: "Italianno", cursive;
  font-size: 100px;
}

.detail-card {
  background-color: #fafafa;
}
