.gift-detail {
  background-image: url("https://i.imgur.com/BvFSnOt.jpg?1");
  grid-area: C;
  height: 90vh;
  /* height: 100%; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  object-fit: contain;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gdpg-name {
  text-decoration: none;
  color: #e7ddd2;
  font-family: "Italianno", cursive;
  font-size: 100px;
}

.detail-card {
  background-color: #fafafa;
  background-color: #fafafa;
  width: 40%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 23vw;
}

.gift-edit-delete {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 7vh;
}
