.gift-detail {
  background-image: url("https://i.imgur.com/BvFSnOt.jpg?1");
  grid-area: C;
  height: 90vh;
  /* height: 100%; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  object-fit: contain;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gdpg-name {
  text-decoration: none;
  color: #e7ddd2;
  font-family: "Italianno", cursive;
  font-size: 100px;
}

.detail-card {
  background-color: #fafafa;
}
