.login-form {
  background-image: url("https://i.imgur.com/iyUUh6o.jpg?1");
  grid-area: C;
  padding: 5vh 5vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  object-fit: contain;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  font-family: "Italianno", cursive;
}

.present-box {
  background-image: url("https://i.imgur.com/Q8cKrcY.png");
  height: 63vh;
  width: 33vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: opacity(80%);
}

.form-box {
  display: flex;
  flex-direction: column;
  margin-top: 19vh;
  align-items: center;
}

.login-input {
  border-radius: 5px;
}

#login-to-signup {
  text-decoration: none;
  color: #e7ddd2;
}

#welcome-login {
  width: 9vw;
  border-radius: 5px;
  font-family: "Italianno", cursive;
  font-size: 3vh;
}

h1 {
  text-decoration: none;
  color: #e7ddd2;
  font-family: "Italianno", cursive;
  font-size: 24vh;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
