.profile {
  background-image: url("https://i.imgur.com/ROduM3x.jpg?1");
  grid-area: C;
  height: 90vh;
  /* height: 100%; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  object-fit: contain;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-wishlist-and-add-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.profile-my-wishlist {
  background-color: #fafafa;
  width: 16%;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
}

#my-list-p {
  margin-bottom: 0;
  font-family: "Italianno", cursive;
  text-decoration: none;
  /* color: #e7ddd2; */
}
#profile-to-my-list {
  height: 20vh;
}

.profile-add-group {
  background-color: #fafafa;
  width: 13%;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  height: 15vh;
}

#profile-to-add-group {
  height: 20vh;
}

.listing-groups-div {
  border: 2px solid #d3d3d3;
  background-color: #fafafa;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  align-content: space-around;
  margin: 15px;
  width: 14rem;
  border-radius: 5px;
}

.listing-groups-div img {
  width: 100%;
}

.add-button {
  background-color: #b3d7ec;
  border-radius: 5px;
  color: #514538;
  border: none;
}

.groups-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.div.card-container.card {
  height: 100px;
}

.add-button {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.add-button:hover {
  transform: scale(0.9);
  transition-duration: 0.5s;
}

@media only screen and (max-width: 769px) {
  .laptops-div {
    width: 13rem;
  }
}

@media only screen and (max-width: 426px) {
  .laptops-div {
    width: 11rem;
    height: 12rem;
  }
}

@media only screen and (max-width: 376px) {
  .laptops-div {
    width: 153px;
    height: 11rem;
  }
}
