.home {
  background-image: url("https://i.imgur.com/t8bw92f.jpg?1");
  padding: 5vh 5vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  object-fit: contain;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-welcome {
  background-image: url("https://i.imgur.com/41IXfju.png");
  height: 45vh;
  width: 33vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: opacity(75%);
}

#home-welcome {
  font-size: 24vh;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.login-home {
  margin-top: -5%;
  margin-bottom: -25%;
}

#link-to-login {
  font-family: "Italianno", cursive;
  font-size: 6vh;
  margin: 0;
  text-decoration: none;
  color: black;
}

#link-to-signup {
  font-family: "Italianno", cursive;
  font-size: 6vh;
  margin: 0;
  text-decoration: none;
  color: black;
}
