.search-input {
  outline: none;
  height: 5vh;
  width: 18vw;
  padding-top: 3px;
  padding-bottom: 5px;
  border-radius: 5px;
  border-color: #fafafa;
}

.search-form {
  border-radius: 5px;
  color: #514538;
  border: none;
  height: 7vh;
  width: 5vw;
}

@media only screen and (max-width: 426px) {
  .search-input {
    width: 75%;
  }
}
